@charset 'utf-8';
* {
  padding: 0;
  margin: 0;
}
html,
body {
  width: 99%;
  height: 99%;
  background-color: #f5f5f5;
}
body {
  border: 1px #f5f5f5 solid;
}
#login-main {
  width: 854px;
  height: 529px;
  background: #fff;
  margin: 0 auto;
  margin-top: 138px;
  position: relative;
}
#login-main .login-title {
  width: 854px;
  height: 102px;
  padding-top: 25px ;
  text-align: center;
}
#login-main .login-title .title-mi {
  vertical-align: bottom;
}
#login-main .login-title .title-font {
  width: 100%;
  height: 29px;
  padding-top: 15px;
  font-family: Helvetica, arial, "MI Lan Pro", "Hiragino Sans GB", "PingFang SC", "Microsoft YaHei", "微軟正黑體", "儷黑 Pro", sans-serif;
  font-size: 22px;
}
#login-main .title-sc {
  text-decoration: none;
  display: block;
  overflow: hidden;
  width: 80px;
  height: 80px;
  position: absolute;
  top: 0;
  right: 0;
  background-image: url(../images/icon_ercode.png);
}
#login-main .title-sc:hover {
  background-position: -80px 0px;
}
#login-main .login-zj {
  width: 100%;
  height: 402px;
}
#login-main .login-zj .login-nr {
  width: 358px;
  height: 382px;
  background-color: #fff;
  margin: 0 auto;
}
#login-main .login-zj .login-nr .login-form {
  width: 358px;
  height: 114px;
  margin-bottom: 14px;
}
#login-main .login-zj .login-nr .login-form #username {
  width: 326px;
  height: 22px;
  padding: 13px 16px 13px 14px;
  outline: none;
  border: 1px solid #e0e0e0;
  margin-bottom: 14px;
}
#login-main .login-zj .login-nr .login-form #password {
  width: 326px;
  height: 22px;
  padding: 13px 16px 13px 14px;
  outline: none;
  border: 1px solid #e0e0e0;
}
#login-main .login-zj .login-nr #login {
  width: 358px;
  height: 50px;
  border: 0px solid #fff;
  outline: none;
  cursor: pointer;
  color: #fff;
  background-color: #ff6700;
  margin-top: 10px;
  margin-bottom: 14px;
}
#login-main .login-zj .login-nr .login-ts {
  width: 100%;
  height: 0px;
}
#login-main .login-zj .login-nr #ChangeLoginType {
  display: block;
  width: 100%;
  text-decoration: none;
  color: #ff6700;
  font-size: 14px;
  text-align: center;
}
#login-main .login-zj .login-nr .login-zc {
  width: 100%;
  margin-top: 30px;
  text-align: center;
}
#login-main .login-zj .login-nr .login-zc a {
  font-size: 14px;
  text-decoration: none;
  color: #757575;
}
#login-main .login-zj .login-nr .login-zc span {
  font-size: 14px;
  text-decoration: none;
  color: #E0E0E0;
}
#login-main .login-zj .login-nr .login-dl {
  border: 0px solid #fff;
  border-top: 1px solid #e0e0e0;
  margin-top: 30px;
  margin-bottom: 18px;
}
#login-main .login-zj .login-nr .login-dl .login-dl-title {
  text-align: center;
  font-size: 14px;
  color: #b0b0b0;
}
#login-main .login-zj .login-nr .login-nav {
  width: 100%;
  height: 38px;
  box-sizing: border-box;
  padding: 0px 70px;
}
#login-main .login-zj .login-nr .login-nav a {
  float: left;
  display: block;
  width: 30px;
  height: 30px;
  margin: 0px 12px;
  border-radius: 50%;
}
#login-main .login-zj .login-nr .login-nav a:nth-child(1) {
  background-color: #0288d1;
  position: relative;
}
#login-main .login-zj .login-nr .login-nav a:nth-child(1) .nav-qq {
  width: 18px;
  height: 18px;
  background: url('..//images/icons_type.png') no-repeat -19px 0px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#login-main .login-zj .login-nr .login-nav a:nth-child(2) {
  background-color: #d32f2f;
  position: relative;
}
#login-main .login-zj .login-nr .login-nav a:nth-child(2) .nav-xl {
  width: 18px;
  height: 18px;
  background: url('..//images/icons_type.png') no-repeat -38px 0px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#login-main .login-zj .login-nr .login-nav a:nth-child(3) {
  background-color: #0ae;
  position: relative;
}
#login-main .login-zj .login-nr .login-nav a:nth-child(3) .nav-zfb {
  width: 24px;
  height: 18px;
  background: url('..//images/icons_type.png') no-repeat -57px 0px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#login-main .login-zj .login-nr .login-nav a:nth-child(4) {
  background-color: #00d20d;
  position: relative;
}
#login-main .login-zj .login-nr .login-nav a:nth-child(4) .nav-wx {
  width: 24px;
  height: 18px;
  background: url('..//images/icons_type.png') no-repeat -83px 0px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#lang-select {
  width: 100%;
  height: 19px;
  text-align: center;
  margin-top: 150px;
}
#lang-select a {
  text-decoration: none;
  font-size: 14px;
  font-family: Helvetica, arial, "MI Lan Pro", "Hiragino Sans GB", "PingFang SC", "Microsoft YaHei", "微軟正黑體", "儷黑 Pro", sans-serif;
  padding: 0px 10px;
  border-right: 1px #000 solid;
  color: #757575;
}
#lang-select a:nth-child(5) {
  border-right: 0px #000 solid;
}
#lang-bj {
  width: 100%;
  height: 24px;
  text-align: center;
  margin-top: 10px;
}
#lang-bj a {
  color: #757575;
  text-decoration: none;
  font-size: 14px;
  font-family: Helvetica, arial, "MI Lan Pro", "Hiragino Sans GB", "PingFang SC", "Microsoft YaHei", "微軟正黑體", "儷黑 Pro", sans-serif;
}
